In [3]:
# Иванов павел
# Вариант задания со звездочкой 
print((1316 % 3) + 1)

3

In [5]:
# Иванов павел
# Написать программу, которая вычисляет площадь фигуры,
# параметры которой подаются на вход. Фигуры, которые подаются на вход:
# треугольник, прямоугольник, круг. Результатом работы является словарь, где
# ключ – это название фигуры, а значение – это площадь.
import math

# переделать по трем сторонам
def calculate_triangle_area(base, height):
    return 0.5 * base * height

def calculate_rectangle_area(length, width):
    return length * width

def calculate_circle_area(radius):
    return math.pi * radius ** 2


print(calculate_triangle_area(base=5, height=10))
print(calculate_rectangle_area(length=4, width=6))
print(calculate_circle_area(radius=3))

25.0
24
28.274333882308138

In [6]:
# Иванов павел
# Написать программу, которая на вход получает два числа и
# операцию, которую к ним нужно применить. Должны быть реализованы
# следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
# степень.

operations = {
        '+': lambda x, y: x + y,
        '-': lambda x, y: x - y,
        '/': lambda x, y: x / y if y != 0 else "Error: Division by zero",
        '//': lambda x, y: x // y if y != 0 else "Error: Division by zero",
        'abs': lambda x, y: (abs(x), abs(y)),
        'pow': lambda x, y: pow(x, y),
        '**': lambda x, y: x ** y
    }


def calculate(a, b, operation):
	f = operations.get(operation, "Operation is not supported")
	return f(a, b)


print(calculate(1, 2, "+"))
print(calculate(1, 2, "-"))
print(calculate(1, 2, "/"))
print(calculate(1, 0, "/"))
print(calculate(1, 2, "//"))
print(calculate(1, 0, "//"))
print(calculate(1, 2, "abs"))
print(calculate(1, 2, "pow"))

3
-1
0.5
Error: Division by zero
0
Error: Division by zero
(1, 2)
1

In [7]:
# Иванов павел
# Напишите программу, которая считыа сумма введённых чисел не будет равна 0 и
# после этого выводит суммувает с консоли числа (по
# одному в строке) до тех пор, пок квадратов всех считанных чисел.
def sum_till_zero():
    numbers = []  # Список для хранения введённых чисел
    total_sum = 0  # Переменная для отслеживания суммы чисел

    while True:
        number = int(input("Enter a number: "))  # Считываем число с консоли
        numbers.append(number)  # Добавляем число в список
        total_sum += number  # Обновляем текущую сумму
        print(f'Текущая сумма {total_sum}')

        if total_sum == 0:
            break

    sum_of_squares = sum(x ** 2 for x in numbers) 
    print("Sum of squares:", sum_of_squares)

# Запуск программы
sum_till_zero()

Текущая сумма 1
Текущая сумма 0
Sum of squares: 2

In [8]:
# Иванов павел
# Напишите программу, которая выводит последовательность
# чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
# На вход программе передаётся неотрицательное целое число N. Например,
# если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
# через пробел – print(*list).

def print_nums(N):
    result = [] 
    current_number = 1 

    while len(result) < N:
        result.extend([current_number] * current_number)
        current_number += 1  

    result = result[:N]

    print(*result)

N = int(input("Введите число: "))
print_nums(N)

1

In [9]:
# Иванов павел
# Даны два списка:
# А = [1,    2,   3,   4,   2,   1,   3,   4,   5,   6,   5,   4,   3,   2 ]
# В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
# Создать словарь, в котором ключи – это содержимое списка В, а
# значения для ключей словаря – это сумма всех элементов списка А в
# соответствии с буквой, содержащийся на той же позиции в списке В.
# Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.
# Скачать и загрузить данные о стоимости домов в калифорнии,
# используя библиотеку sklearn.

A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

result = {}

for i in range(len(A)):
    key = B[i]
    value = A[i]
    
    if key in result:
        result[key] += value
    else:
        result[key] = value

print(result)

{'a': 17, 'b': 11, 'c': 17}

In [13]:
# Иванов павел
# Скачать и загрузить данные о стоимости домов в калифорнии,
# используя библиотеку sklearn.
from sklearn.datasets import fetch_california_housing

# Загрузка данных
data = fetch_california_housing(as_frame=True)

# Получение DataFrame
df = data['data']

# Использование метода info()
df.info()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [8]:
# Иванов павел
# Узнать, есть ли пропущенные значения, используя isna().sum().
from sklearn.datasets import fetch_california_housing

# Загрузка данных
data = fetch_california_housing(as_frame=True)

# Получение DataFrame
df = data['data']

df.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [17]:
# Иванов павел
# Вывести записи, где средний возраст домов в районе более 50 лет и
# население более 2500 человек, используя метод loc().
from sklearn.datasets import fetch_california_housing


# Загрузка данных
data = fetch_california_housing(as_frame=True)

# Получение DataFrame
df = data['data']

# Фильтрация по возрасту дома и популяции
filter = df.loc[(df['HouseAge'] <= 50) & (df['Population'] > 2500)]
filter

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
95,2.0096,36.0,2.294016,1.066294,3469.0,1.493328,37.80,-122.26
101,3.2177,28.0,3.878424,1.070808,2563.0,1.712091,37.81,-122.25
104,2.8406,34.0,3.281722,1.069871,2689.0,1.503074,37.81,-122.26
116,2.4234,28.0,3.023480,1.053582,2558.0,1.540036,37.83,-122.25
185,2.1917,43.0,4.844029,1.091795,4367.0,3.547522,37.79,-122.23
...,...,...,...,...,...,...,...,...
20569,4.1997,17.0,5.732759,1.060345,2866.0,3.088362,38.66,-121.76
20571,3.4186,6.0,5.662562,1.027094,2561.0,3.153941,38.53,-121.99
20603,1.3375,18.0,4.567625,1.087327,2707.0,2.882854,39.13,-121.54
20604,2.3496,17.0,4.551392,0.962527,3265.0,3.495717,39.12,-121.54
20629,2.0943,28.0,5.519802,1.020902,6912.0,3.801980,39.12,-121.39

In [31]:
# Иванов Павел
# Узнать максимальное и минимальное значения медианной
# стоимости дома
from sklearn.datasets import fetch_california_housing
import pandas as pd

# Загрузка данных
data = fetch_california_housing(as_frame=True)

# Получение DataFrame
df = data['data']

# Добавление столбца с медианной стоимостью дома
df['median_house_value'] = data['target']
max_house_value = df['median_house_value'].max()
min_house_value = df['median_house_value'].min()

# Значения в тысячах доллатов
print(f"Максимальная медианная стоимость дома: {max_house_value}")
print(f"Минимальная медианная стоимость дома: {min_house_value}")

Максимальная медианная стоимость дома: 5.00001
Минимальная медианная стоимость дома: 0.14999

In [19]:
# Иванов павел
# Используя метод apply(), вывести на экран название признака и его
# среднее значение.
from sklearn.datasets import fetch_california_housing

# Загрузка данных
data = fetch_california_housing(as_frame=True)

# Получение DataFrame
df = data['data']

# Вычисление среднего значения для каждого признака с использованием apply()
mean_value = df.apply(lambda x: x.mean())['MedInc']

print(f"Признак - MedInc, Среднее значение - {mean_value}")

Признак - MedInc, Среднее значение - 3.8706710029069766

In [23]:
operations = {"read": "r", "write": "w", "execute": "x"}


def get_files():
	n = int(input()) # количество файлов
	files = {} 
	for _ in range(n):
		file, *rights = str(input()).split(" ")
		files[file] = rights
	return files


def get_input(files):
	m = int(input())
	for _ in range(m):
		operation, file = str(input()).split(" ")
		if operation not in operations:
			print("Error operation")
			continue
		if file not in files:
			print("File not found")
			continue
		if operations[operation] not in files[file]:
			print("ACESS DENIED")
			continue
		print("OK")


files = get_files()
get_input(files)

pytonh
['w', 'r', 'x']